*{
    padding: 0;
    margin: 0;;
}
.bg img{
    height: 90vh;
    width: 206vh;
}
.black img{
    position: absolute;
    /* height: 10px; */
    width: 50%;
    top: 0;
    right: 0;
    opacity: 0.5;
}
.bio{
    position: absolute;
    color: white;
    font-size: 3em;
    font-family: cursive;
    text-transform: uppercase;
    top: 41%;
    right: 19%;
    /* bottom:; */
}


/* for the nav bar */
#project-tile{
    /* border: 2px solid black; */
    background: #c4c4c4;
    margin: -4px 0 0 0;
    width: 100%;
}
nav ul{
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


nav ul li a:hover{
    border: 2px solid black;
    padding: 6px;
    border-radius: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: red;
}


.title{
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(40, 22, 71);
    border: 2px solid #c8c8c8;;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 50%;
    margin: 40px auto 40px;
    padding-bottom: 15px;
}


.container{
    /* border: 2px solid black; */
    height: auto;
    width: 70%;
    margin: 2vh auto;
}

.container p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container p .welcome{
    color: rgb(213, 116, 116);
    font-size: 25px;
}
.college{
    color: rgb(166, 120, 3);
}

.ending{
    width: 50%;
    margin: 50px auto;
}







/* fot the footer */



footer {
    border-radius: 20px 20px 0 0;
    margin-top: 90px;
    height: 30vh;
    background: #121212;
}
.footer-content{
    /* color: white; */
    text-align: center;
    /* border: 2px solid white; */
}

.footer-content ul li{
    margin-top: 0px;
    padding-top: 25px;
    font-size: 1.1em;
    text-transform: uppercase;
}

.footer-content ul a{
    color: white;
    list-style: none;
    text-decoration: none;
    margin-top: 100px;
    
}

.copyright{
    color: white;
    margin-top: 20px;
    text-align: center;
    border: 2px solid #666666;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-width: 0.1px;
    width: 60%;
    margin:30px auto;
    height: 40%;
    position: relative;
}
.copyright a{
    color: white;
    text-decoration: none;

}
.copyright div{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgb(89 89 255);
}
.copyright span{
    color: #f03737;
}
.copyright div a:hover{
    color: green;
}
.footer-content ul a:hover{
    color: green;
    text-decoration: underline;
}


























/* Media query for responsiveness */
/* ******for large devices */
@media (min-width:1200px) {
    .bg img{
        width: 100%;
    }
    .black img{
        width: 50%;
    }
    .bio{
        top: 41%;
        right: 19%;
        /* bottom:; */
    }
}

/* *********Medium devices */
@media (min-width:992px) and (max-width: 1199px) {
    .bg img{
        width: 100%;
    }
    .black img{
        width: 50%;
    }
    .bio{
        top: 41%;
        right: 19%;
        /* bottom:; */
    }
}


/* *********Small devices only */
@media (min-width:768px) and (max-width:991px) {
    .bg img{
        width: 100%;
    }
    .black img{
        width: 50%;
    }
    .bio{
        top: 41%;
        right: 19%;
        /* bottom:; */
    }
}












/* *******extra small devices */
@media (max-width:767px) {
    .bg img{
        width: 100%;
        height: 50%;
    }
    .black img{
        width: 50%;
        height: 34%;
    }
    .bio{
        font-size: 1.7em;
        top: 15%;
        right: 9%;
        /* bottom:; */
    }
    .container{
        margin-top: 5vh;
        width: 90%;
    }
}